body{
    box-sizing: border-box;
  
}

header{
    background: url('img/pattern.png');
    background-color: aqua;
    height: 100%;
}

.immagini-testa{
    margin-top: 15px;
    min-width: max-content;
    box-sizing: border-box;
  
}
#sottotitolo{
    color: lightgray;
    font-size: 12px;
}

#logo{
    margin-top:5%;
    width: 25%;
}

.titolo h1{
    font-size: 50px;
    margin-bottom: 0%;
}

.titolo span{
    color: rgb(0, 157, 255);
}

.paragrafo span{
    background-color: lightyellow;
}


table {
    text-align: left;
    width: fit-content; 
    background-color: #FFFFFF;
    }
table th{
    background-color: rgb(0, 94, 255);
    color: #FFFFFF;
}
/* colore righe tabella */
.dispari{
background-color: rgb(240, 251, 255);
}
/* colonna testo lungo tabella */
.descrizione{
    width: 50%;
}

footer h2{

    font-size: 15px;
    color: lightgray;
}

.quadrato{
    text-align: left;
    width:208px;
    height:160px;
    margin: 10px;
    padding:10px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-left: 0;
}

#monitor{
    background-image: url(img/monitor.jpg);
}

#data{
    background-image: url(img/graph.jpg);
}


